In [206]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import pymysql
#from sqlalchemy import create_engine
%matplotlib inline

In [2]:
# q = '''

# select b.userId, b.bankId, b.difficulty,b.total_correct,b.total_incorrect,b.total_blank, (b.total_correct + b.total_incorrect + b.total_blank) as total_qns_attempted from
# (select a.userId,a.bankID,a.difficulty,sum(a.correct) as total_correct,sum(a.incorrect) as total_incorrect,sum(a.blank) as total_blank from
# (select a.userId, q.bankID, a.correct,  a.incorrect, a.blank, q.difficulty  
# from  isee_answers_2016.answers a inner join isee_webapp.questionSections qs 
# on a.questionSectionId = qs.questionSectionId 
# inner join isee_webapp.questions q 
# on qs.questionId = q.questionId where q.bankId <> 0) a
# group by 1,2,3) b


# '''

In [3]:
# #save the result in a dataframe
# e_1 = create_engine('mysql+pymysql://root:Welcome_9@localhost:3306/isee_webapp')
# e_2 = create_engine('mysql+pymysql://root:Welcome_9@localhost:3306/isee_answers_2016')
# data_df = pd.read_sql_query(q, e_2)

In [223]:
data_df = pd.read_csv('data.csv')

In [224]:
data_df.dtypes

Unnamed: 0             int64
userId                 int64
bankId                 int64
difficulty             int64
total_correct          int64
total_incorrect        int64
total_blank            int64
total_qns_attempted    int64
dtype: object

In [225]:
data_df["score_1"] = data_df["total_correct"]/data_df["total_qns_attempted"] + ((data_df["total_qns_attempted"].astype(int)/10)*0.05).round(2)
data_df["score_2"] = 1/data_df["score_1"]
data_df["bank_diff"] = data_df["bankId"].astype(str) + data_df["difficulty"].astype(str)
#data_df["bank_diff"] = data_df["bank_diff"].astype(int)

In [226]:
data_df=data_df.drop('Unnamed: 0', axis=1)

In [7]:
#data_df.to_csv('data.csv')

In [227]:
data_df.dtypes

userId                   int64
bankId                   int64
difficulty               int64
total_correct            int64
total_incorrect          int64
total_blank              int64
total_qns_attempted      int64
score_1                float64
score_2                float64
bank_diff               object
dtype: object

In [212]:
from pyspark import SparkContext, SparkConf
#from pyspark.sql import SQLContext

In [213]:
sc

In [214]:
from pyspark.sql import SparkSession
spark = SparkSession(sc)

In [215]:
spark

In [216]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [217]:
sqlContext

In [9]:
# conf = SparkConf().setAppName("als_app")
# sc = SparkContext(conf=conf)

In [228]:
data_df.sort_values('score_2')

,userId,bankId,difficulty,total_correct,total_incorrect,total_blank,total_qns_attempted,score_1,score_2,bank_diff
119542,10254,696,1,503,6,46,555,3.686306,0.271274,6961
525796,15740,683,3,322,128,20,470,3.035106,0.329478,6833
119543,10254,696,2,372,20,37,429,3.007133,0.332543,6962
231930,11953,682,2,331,67,35,433,2.924434,0.341946,6822
231950,11953,697,1,306,48,65,419,2.830310,0.353318,6971
231952,11953,697,3,239,139,63,441,2.741950,0.364704,6973
231931,11953,682,3,270,104,39,413,2.713753,0.368493,6823
231929,11953,682,1,300,37,37,374,2.672139,0.374232,6821
123921,10323,683,3,279,62,37,378,2.628095,0.380504,6833
119383,10254,344,2,292,37,26,355,2.602535,0.384241,3442
119387,10254,345,3,251,104,32,387,2.588579,0.386312,3453
278268,12535,696,1,299,7,8,314,2.522229,0.396475,6961
231951,11953,697,2,219,80,61,360,2.408333,0.415225,6972
525794,15740,683,1,242,37,14,293,2.285939,0.437457,6831
525795,15740,683,2,231,53,13,297,2.257778,0.442913,6832
248369,12155,683,3,0,0,444,444,2.220000,0.450450,6833
138243,10609,697,1,203,20,81,304,2.187763,0.457088,6971
278269,12535,696,2,220,14,7,241,2.112863,0.473291,6962
119544,10254,696,3,201,36,20,257,2.062101,0.484942,6963
138224,10609,682,2,170,62,62,294,2.048231,0.488226,6822
248386,12155,689,2,27,22,344,393,2.028702,0.492926,6892
138225,10609,682,3,140,103,61,304,1.980526,0.504916,6823
123919,10323,683,1,191,3,18,212,1.960943,0.509959,6831
138245,10609,697,3,151,71,64,286,1.957972,0.510733,6973
119382,10254,344,1,185,8,18,211,1.936777,0.516322,3441
138223,10609,682,1,174,15,53,242,1.929008,0.518401,6821
498046,15322,683,3,179,38,11,228,1.925088,0.519457,6833
278109,12535,344,2,179,14,5,198,1.894040,0.527972,3442
138244,10609,697,2,161,25,64,250,1.894000,0.527983,6972
249397,12163,696,1,164,8,60,232,1.866897,0.535648,6961
...,...,...,...,...,...,...,...,...,...,...
279760,12545,673,2,0,0,1,1,0.010000,100.000000,6732
279759,12545,669,1,0,0,1,1,0.010000,100.000000,6691
279758,12545,667,2,0,0,1,1,0.010000,100.000000,6672
279757,12545,663,2,0,0,1,1,0.010000,100.000000,6632
279756,12545,656,2,0,0,1,1,0.010000,100.000000,6562
279753,12545,640,1,0,1,0,1,0.010000,100.000000,6401
279752,12545,638,1,0,0,2,2,0.010000,100.000000,6381
279751,12545,636,3,0,0,2,2,0.010000,100.000000,6363
279797,12546,67,3,0,1,0,1,0.010000,100.000000,673
279798,12546,75,2,0,1,0,1,0.010000,100.000000,752
279801,12546,91,2,0,1,0,1,0.010000,100.000000,912
279802,12546,95,3,0,1,0,1,0.010000,100.000000,953
279839,12546,489,1,0,1,0,1,0.010000,100.000000,4891
279838,12546,478,3,0,1,0,1,0.010000,100.000000,4783
279831,12546,442,1,0,1,0,1,0.010000,100.000000,4421
279828,12546,423,3,0,1,0,1,0.010000,100.000000,4233
279825,12546,398,1,0,1,0,1,0.010000,100.000000,3981
279824,12546,389,3,0,1,0,1,0.010000,100.000000,3893
279823,12546,383,3,0,1,0,1,0.010000,100.000000,3833
280167,12551,104,3,0,0,1,1,0.010000,100.000000,1043
279822,12546,375,3,0,1,0,1,0.010000,100.000000,3753
279817,12546,275,2,0,1,0,1,0.010000,100.000000,2752
279816,12546,270,3,0,1,0,1,0.010000,100.000000,2703
279815,12546,250,3,0,1,0,1,0.010000,100.000000,2503
279814,12546,224,1,0,1,0,1,0.010000,100.000000,2241
279810,12546,138,3,0,1,0,1,0.010000,100.000000,1383
279807,12546,135,2,0,1,0,1,0.010000,100.000000,1352
279804,12546,131,3,0,1,0,1,0.010000,100.000000,1313
279818,12546,293,3,0,1,0,1,0.010000,100.000000,2933
594429,16657,614,1,0,1,0,1,0.010000,100.000000,6141

In [229]:
data_df.to_csv('data1.csv')

In [65]:
data_df.dtypes

userId                   int64
bankId                   int64
difficulty               int64
total_correct          float64
total_incorrect        float64
total_blank            float64
total_qns_attempted    float64
score_1                float64
score_2                float64
bank_diff                int64
dtype: object

In [16]:
# from pyspark.sql.types import *

# data_df_schema = StructType(\
#     [StructField('userId', IntegerType(),True),\
#    StructField('bankId', IntegerType(),True),\
#    StructField('difficulty', DoubleType(),True),\
#    StructField('total_correct', DoubleType(),True),\
#   StructField('total_incorrect', DoubleType(),True),\
#   StructField('total_blank', DoubleType(),True),\
#   StructField('total_qns_attempted', DoubleType(),True),\
#   StructField('score_1', DoubleType(),True),\
#   StructField('score_2', DoubleType(),True),\
#   StructField('bank_diff', StringType(),True)])

In [17]:
# from pyspark.sql import Row
# rdd_of_rows = data.map(lambda x: Row(**x))
# df = sqlContext.createDataFrame(rdd_of_rows)
# df.printSchema()

In [291]:
Path="data1.csv"
data=sc.textFile(Path)

In [292]:
from pyspark.sql import Row

In [293]:
data = data.map(lambda line: line.split(","))

In [233]:
# data.take(2)

[[u'',
  u'userId',
  u'bankId',
  u'difficulty',
  u'total_correct',
  u'total_incorrect',
  u'total_blank',
  u'total_qns_attempted',
  u'score_1',
  u'score_2',
  u'bank_diff'],
 [u'0',
  u'8195',
  u'38',
  u'2',
  u'0',
  u'1',
  u'0',
  u'1',
  u'0.01',
  u'100.0',
  u'382']]

In [294]:
header = data.first()
data = data.filter(lambda line:line != header)

In [235]:
# data.take(2)

[[u'0',
  u'8195',
  u'38',
  u'2',
  u'0',
  u'1',
  u'0',
  u'1',
  u'0.01',
  u'100.0',
  u'382'],
 [u'1',
  u'8195',
  u'169',
  u'3',
  u'1',
  u'0',
  u'0',
  u'1',
  u'1.01',
  u'0.990099009901',
  u'1693']]

In [295]:
data_df.columns

Index([u'userId', u'bankId', u'difficulty', u'total_correct',
       u'total_incorrect', u'total_blank', u'total_qns_attempted', u'score_1',
       u'score_2', u'bank_diff'],
      dtype='object')

In [63]:
#data.map(lambda line: Row(index = line[0], userid = line[1], bankid=line[2], difficulty=line[3], total_correct=line[4], total_incorrect=line[5], total_blank=line[6], total_qns_attempted=line[7],score_1=line[8],score_2=line[9],bank_diff=line[10])).toDF()

In [241]:
#myrdd = sc.textFile(Path).map(lambda line: line.split(","))

In [249]:
#myrdd.take(1)

In [250]:
# cols = Row('',
#   'userId',
#   'bankId',
#   'difficulty',
#   'total_correct',
#   'total_incorrect',
#   'total_blank',
#   'total_qns_attempted',
#   'score_1',
#   'score_2',
#   'bank_diff')

In [244]:
#userdata = myrdd.map(lambda r: cols(*r))

In [240]:
#hasattr(userdata, "toDF")

True

In [77]:
data_df.columns

Index([u'userId', u'bankId', u'difficulty', u'total_correct',
       u'total_incorrect', u'total_blank', u'total_qns_attempted', u'score_1',
       u'score_2', u'bank_diff'],
      dtype='object')

In [296]:
data_sdf = data.map(lambda line: Row(index = line[0],userId = line[1],bankId = line[2],difficulty = line[3],total_correct = line[4],total_incorrect = line[5],total_blank = line[6],total_qns_attempted = line[7],score_1 = line[8],score_2 = line[9],bank_diff = line[10])).toDF()

In [297]:
data_sdf = data_sdf.withColumn("userId", data_sdf["userId"].cast("int"))
data_sdf = data_sdf.withColumn("bank_diff", data_sdf["bank_diff"].cast("int"))
data_sdf = data_sdf.withColumn("score_1", data_sdf["score_1"].cast("double"))
data_sdf = data_sdf.withColumn("score_2", data_sdf["score_2"].cast("double"))

In [298]:
from pyspark.sql import functions as F

bank_ids_with_avg_score_sdf = data_sdf.groupBy('bank_diff').agg(F.sum(data_sdf['total_qns_attempted']).alias("count"), F.avg(data_sdf['score_2']).alias("average"))
print 'bank_ids_with_avg_score_sdf:'
bank_ids_with_avg_score_sdf.show(3, truncate=False)

bank_ids_with_avg_score_sdf:
+---------+------+------------------+
|bank_diff|count |average           |
+---------+------+------------------+
|1342     |4343.0|48.59496884722969 |
|5803     |2091.0|44.91730496203035 |
|2122     |3018.0|43.997111286480546|
+---------+------+------------------+
only showing top 3 rows

In [299]:
banks_with_200_qns_or_more = bank_ids_with_avg_score_sdf.filter(bank_ids_with_avg_score_sdf['count']>=200)
print 'Banks with highest score:'
banks_with_200_qns_or_more.show(20, truncate=False)

Banks with highest score:
+---------+------+------------------+
|bank_diff|count |average           |
+---------+------+------------------+
|1342     |4343.0|48.59496884722969 |
|5803     |2091.0|44.91730496203035 |
|2122     |3018.0|43.997111286480546|
|2563     |475.0 |55.21595656206848 |
|4161     |851.0 |14.231603162159324|
|6393     |884.0 |37.9066945693078  |
|1352     |4508.0|55.760856337772054|
|5173     |1236.0|60.445635886350956|
|2393     |525.0 |36.01651281555893 |
|6482     |1006.0|34.06098607418446 |
|3761     |560.0 |22.95767730330674 |
|5071     |528.0 |22.145980637339267|
|6622     |337.0 |31.30918394857657 |
|2231     |1004.0|45.65344040830254 |
|5223     |1172.0|39.07760198639275 |
|251      |2569.0|23.619659562332792|
|883      |4297.0|33.417311668412225|
|3913     |727.0 |52.247253639930165|
|5682     |980.0 |49.243947408961894|
|6301     |3297.0|26.655101776950968|
+---------+------+------------------+
only showing top 20 rows

In [300]:
data_sdf=data_sdf.select('userID','bank_diff','score_2')

In [301]:
data_sdf.show(15)

+------+---------+--------------+
|userID|bank_diff|       score_2|
+------+---------+--------------+
|  8195|      382|         100.0|
|  8195|     1693|0.990099009901|
|  8195|     1962|0.990099009901|
|  8195|     2103|         100.0|
|  8195|     2282|0.990099009901|
|  8195|     2293|         100.0|
|  8195|     2301|0.990099009901|
|  8195|     2372|         100.0|
|  8195|     2403|         100.0|
|  8195|     2422|         100.0|
|  8195|     2632|         100.0|
|  8195|     2643|         100.0|
|  8195|     2853|         100.0|
|  8195|     2953|         100.0|
|  8195|     4032|0.990099009901|
+------+---------+--------------+
only showing top 15 rows

In [302]:
seed = 123
(split_60_df, split_a_20_df, split_b_20_df) = data_sdf.randomSplit([0.6,0.2,0.2], seed = seed)


training_df = split_60_df.cache()
validation_df = split_a_20_df.cache()
test_df = split_b_20_df.cache()

print('Training: {0}, validation: {1}, test: {2}\n'.format(
  training_df.count(), validation_df.count(), test_df.count())
)
training_df.show(3)
validation_df.show(3)
test_df.show(3)

Training: 356417, validation: 119204, test: 118809

+------+---------+--------------+
|userID|bank_diff|       score_2|
+------+---------+--------------+
|  8195|      382|         100.0|
|  8195|     2282|0.990099009901|
|  8195|     2293|         100.0|
+------+---------+--------------+
only showing top 3 rows

+------+---------+--------------+
|userID|bank_diff|       score_2|
+------+---------+--------------+
|  8195|     4093|         100.0|
|  8195|     4133|         100.0|
|  8195|     4791|0.990099009901|
+------+---------+--------------+
only showing top 3 rows

+------+---------+--------------+
|userID|bank_diff|       score_2|
+------+---------+--------------+
|  8195|     1693|0.990099009901|
|  8195|     1962|0.990099009901|
|  8195|     2103|         100.0|
+------+---------+--------------+
only showing top 3 rows

In [43]:
#sqlCtx.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('data.csv')

In [303]:

from pyspark.ml.recommendation import ALS


als = ALS()


als.setMaxIter(5)\
   .setSeed(seed)\
   .setRegParam(0.1)\
   .setUserCol('userID').setItemCol('bank_diff').setRatingCol('score_2')
  

#eval
from pyspark.ml.evaluation import RegressionEvaluator

reg_eval = RegressionEvaluator(predictionCol="prediction", labelCol="score_2", metricName="rmse")

tolerance = 0.03
ranks = [4, 8, 12]
errors = [0, 0, 0]
models = [0, 0, 0]
err = 0
min_error = float('inf')
best_rank = -1
for rank in ranks:
  
  als.setRank(rank)
  #fitting
  model = als.fit(training_df)
  # Run the model - Predictions against the validation_df.
  predict_df = model.transform(validation_df)

  # Remove null
  predicted_ratings_df = predict_df.filter(predict_df.prediction != float('nan'))

  # Run reg_eval on the predicted_ratings_df DataFrame
  error = reg_eval.evaluate(predicted_ratings_df)
  errors[err] = error
  models[err] = model
  print 'For rank %s the RMSE is %s' % (rank, error)
  if error < min_error:
    min_error = error
    best_rank = err
  err += 1

als.setRank(ranks[best_rank])
print 'The best model was trained with rank %s' % ranks[best_rank]
my_model = models[best_rank]

For rank 4 the RMSE is 36.9219465439
For rank 8 the RMSE is 39.1703757949
For rank 12 the RMSE is 43.5254728998
The best model was trained with rank 4

In [304]:
predict_df = my_model.transform(validation_df)

# Remove null
predicted_test_df = predict_df.filter(predict_df.prediction != float('nan'))

# Run reg_eval on the predicted_test_df DataFrame
test_RMSE = reg_eval.evaluate(predicted_test_df)

print('The model had a RMSE on the test set of {0}'.format(test_RMSE))

The model had a RMSE on the test set of 36.9219465439

In [305]:
# Compute the average score
avg_score_df = training_df.select([F.mean('score_2')])

# Extract the average rating value. (This is row 0, column 0.)
training_avg_score = avg_score_df.collect()[0][0]

print('The average score for banks in the training set is {0}'.format(training_avg_score))

# Add a column with the average score
test_for_avg_df = test_df.withColumn('prediction', F.lit(training_avg_score))

# Run reg_eval on the test_for_avg_df DataFrame
test_avg_RMSE = reg_eval.evaluate(test_for_avg_df)

print("The RMSE on the average set is {0}".format(test_avg_RMSE))

The average score for banks in the training set is 36.7219525053
The RMSE on the average set is 46.7926954814

In [306]:
print 'banks with most qns and score:'
print '(bank_diff, count of qns,average score_2)'
banks_with_200_qns_or_more.orderBy(banks_with_200_qns_or_more['average'].desc()).take(10)

banks with most qns and score:
(bank_diff, count of qns,average score_2)

[Row(bank_diff=4673, count=3894.0, average=79.69339538585297),
 Row(bank_diff=6193, count=2065.0, average=79.48882651155793),
 Row(bank_diff=6313, count=225.0, average=78.34954187922297),
 Row(bank_diff=4403, count=1604.0, average=76.93104390922996),
 Row(bank_diff=5113, count=417.0, average=75.80805165733864),
 Row(bank_diff=483, count=1750.0, average=74.3230143140318),
 Row(bank_diff=5693, count=634.0, average=74.26234846729659),
 Row(bank_diff=5623, count=752.0, average=73.9776941815531),
 Row(bank_diff=3883, count=3334.0, average=73.6255924847971),
 Row(bank_diff=4893, count=2487.0, average=71.76825172810537)]

In [307]:
from pyspark.sql import Row
new_user_id = 0

new_user_bank_score = [(new_user_id, 5823, 50.0),
                   (new_user_id, 1453, 32.2),
                   (new_user_id, 2703, 44.3),
                   (new_user_id, 1693, 3.1),
                   (new_user_id, 4543, 4.7),
                   (new_user_id, 4121, 39.4),
                   (new_user_id, 1043, 1.22),
                   (new_user_id, 2823, 5.3),
                   (new_user_id, 953, 2.6),
                   (new_user_id, 632, 52.5)
]

new_user_bank_score = sqlContext.createDataFrame(new_user_bank_score, ['userId','bank_diff','score_2'])
print 'New User scores:'
new_user_bank_score.limit(10).show()

New User scores:
+------+---------+-------+
|userId|bank_diff|score_2|
+------+---------+-------+
|     0|     5823|   50.0|
|     0|     1453|   32.2|
|     0|     2703|   44.3|
|     0|     1693|    3.1|
|     0|     4543|    4.7|
|     0|     4121|   39.4|
|     0|     1043|   1.22|
|     0|     2823|    5.3|
|     0|      953|    2.6|
|     0|      632|   52.5|
+------+---------+-------+

In [308]:
training_df.show()

+------+---------+--------------+
|userID|bank_diff|       score_2|
+------+---------+--------------+
|  8195|      382|         100.0|
|  8195|     2282|0.990099009901|
|  8195|     2293|         100.0|
|  8195|     2301|0.990099009901|
|  8195|     2372|         100.0|
|  8195|     2422|         100.0|
|  8195|     2643|         100.0|
|  8195|     2853|         100.0|
|  8195|     2953|         100.0|
|  8195|     4032|0.990099009901|
|  8195|     4553|         100.0|
|  8195|     4622|         100.0|
|  8195|     4852|         100.0|
|  8195|     4853|0.990099009901|
|  8195|     5992|         100.0|
|  8195|     6032|0.990099009901|
|  8195|     6133|0.990099009901|
|  8195|     6273|         100.0|
|  8195|     6303|0.990099009901|
|  8195|     6391|0.990099009901|
+------+---------+--------------+
only showing top 20 rows

In [309]:
training_with_newuser_scores_df = training_df.unionAll(new_user_bank_score)

In [310]:
als.setPredictionCol("prediction")\
   .setMaxIter(5)\
   .setSeed(seed)\
   .setUserCol('userID').setItemCol('bank_diff').setRatingCol('score_2')

# Create the model for new user
new_user_bank_score_model = als.fit(training_with_newuser_scores_df)

In [311]:
new_user_predict_df = new_user_bank_score_model.transform(test_df)

# Remove null
predicted_test_new_user_bank_scores_df = new_user_predict_df.filter(new_user_predict_df.prediction != float('nan'))

# Run reg_eval on the predicted_test_my_ratings_df DataFrame
test_RMSE_new_user_bank_scores = reg_eval.evaluate(predicted_test_new_user_bank_scores_df)
print('The model had a RMSE on the test set of {0}'.format(test_RMSE_new_user_bank_scores))

The model had a RMSE on the test set of 36.6741298214

In [314]:
# Create a list of new user bankid
new_user_bank_id = [x[0] for x in new_user_bank_score.select('bank_diff').collect()]

In [315]:
new_user_bank_id

[5823, 1453, 2703, 1693, 4543, 4121, 1043, 2823, 953, 632]

In [316]:
not_scored_bank_diff = data_sdf.filter(~ data_sdf["bank_diff"].isin(new_user_bank_id)).select('bank_diff') # "NOT IN"

In [317]:
new_user_unscored_banks_df = not_scored_bank_diff.select(not_scored_bank_diff['bank_diff']).withColumn('userID', F.lit(new_user_id))
new_user_unscored_banks_df = new_user_unscored_banks_df.select('userID','bank_diff')

In [318]:
new_predicted_scores_df = new_user_bank_score_model.transform(new_user_unscored_banks_df)

In [321]:
#new_predicted_scores_df.show()

In [322]:
predicted_scores_df = new_predicted_scores_df.filter(new_predicted_scores_df['prediction'] != float('nan'))

In [340]:
predicted_scores_df.dropDuplicates().orderBy(predicted_scores_df['prediction'].desc()).toPandas()

     userID  bank_diff  prediction
0         0       3902  187.821213
1         0       4182  147.165131
2         0       4633  134.019699
3         0        473  133.868637
4         0       4181  131.455414
5         0       1533  129.782532
6         0       5222  126.441635
7         0       5271  121.271729
8         0       3783  120.730965
9         0        392  115.998665
10        0       3623  111.743256
11        0       6042  109.908806
12        0       5843  109.683502
13        0       4293  108.776978
14        0       1253  106.115021
15        0        282  102.661781
16        0       3803  102.572021
17        0       4393  101.601135
18        0       4582   96.820305
19        0       5841   93.744995
20        0        592   92.874924
21        0       5092   91.019867
22        0       4702   90.406082
23        0       5272   89.631287
24        0       5483   89.413940
25        0       1692   88.538307
26        0        493   87.718887
27        0       5342   85.396492
28        0       3611   84.886993
29        0       5232   84.173744
..      ...        ...         ...
845       0       5321  -13.668926
846       0       6213  -14.006180
847       0        681  -14.048375
848       0       6742  -14.107944
849       0       4681  -14.398187
850       0       5223  -14.551105
851       0       6723  -15.573614
852       0       5783  -16.025723
853       0       5912  -16.292850
854       0       6491  -16.455542
855       0       6621  -16.684986
856       0       6352  -16.904020
857       0       5552  -16.985302
858       0       6142  -17.013786
859       0       4902  -18.322554
860       0       5511  -20.212090
861       0       1883  -20.801773
862       0       4142  -21.681862
863       0       6642  -22.453854
864       0       1671  -23.547575
865       0       5083  -27.060509
866       0       6351  -30.301151
867       0       2812  -30.320663
868       0       4862  -30.446552
869       0       5623  -31.289919
870       0       3593  -34.634418
871       0       4641  -41.672661
872       0       2532  -42.191772
873       0       5063  -46.926476
874       0       2882  -55.936085

[875 rows x 3 columns]